<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" tempDirectory="C:\Inetpub\vhosts\serverssolution.com\tmp" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".png" mimeType="image/png" />
    </staticContent>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="services.asp" />
        <add value="services.php" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="index.php" />
 <add value="header.shtml" />
        <add value="default.aspx" />
        <add value="index.asp" />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>